# Importing Clean Data & Dependencies

In [20]:
from data_clean import df_prediction as df
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score
import pandas as pd

#### Reformatting Date Column

In [21]:
df = df.copy()
df.loc[:, 'Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')
df.loc[:, 'Year'] = df['Date'].dt.year
df.loc[:, 'Month'] = df['Date'].dt.month
df.loc[:, 'Day'] = df['Date'].dt.day
df = df.drop(columns=['Date'])
df

,Latitude,Longitude,Depth,Magnitude,year,month,day,Year,Month,Day
0,-9.18,119.06,10,4.9,2008,11,1,2008,11,1
1,-6.55,129.64,10,4.6,2008,11,1,2008,11,1
2,-7.01,106.63,121,3.7,2008,11,1,2008,11,1
3,-3.30,127.85,10,3.2,2008,11,1,2008,11,1
4,-6.41,129.54,70,4.3,2008,11,1,2008,11,1
...,...,...,...,...,...,...,...,...,...,...
81218,-8.02,121.81,69,3.4,2022,1,10,2022,1,10
81219,1.50,127.85,10,3.7,2022,1,10,2022,1,10
81220,1.50,127.86,10,3.0,2022,1,10,2022,1,10
81221,1.48,127.86,10,2.7,2022,1,10,2022,1,10
81222,1.44,127.86,10,3.1,2022,1,10,2022,1,10

# Preparing dataset for Model Training

In [25]:
features = ['Year', 'Month', 'Day', 'Latitude', 'Longitude', 'Depth']
X = df[features]
y = df['Magnitude']

#### Splitting dataset into training and testing sets (80% training, 20% testing)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)