# Importing Clean Data & Dependencies

In [13]:
from data_clean import df_prediction as df
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score
import pandas as pd

In [14]:
df

            Date  Latitude  Longitude  Depth  Magnitude  year  month  day
0     2008-11-01     -9.18     119.06     10        4.9  2008     11    1
1     2008-11-01     -6.55     129.64     10        4.6  2008     11    1
2     2008-11-01     -7.01     106.63    121        3.7  2008     11    1
3     2008-11-01     -3.30     127.85     10        3.2  2008     11    1
4     2008-11-01     -6.41     129.54     70        4.3  2008     11    1
...          ...       ...        ...    ...        ...   ...    ...  ...
81218 2022-01-10     -8.02     121.81     69        3.4  2022      1   10
81219 2022-01-10      1.50     127.85     10        3.7  2022      1   10
81220 2022-01-10      1.50     127.86     10        3.0  2022      1   10
81221 2022-01-10      1.48     127.86     10        2.7  2022      1   10
81222 2022-01-10      1.44     127.86     10        3.1  2022      1   10

[81223 rows x 8 columns]

#### Reformatting Date Column

In [15]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df = df.drop(columns=['Date'])
df

/var/folders/jv/h0s20_q93d1bmqz19v1596d80000gn/T/ipykernel_58228/432182506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')
/var/folders/jv/h0s20_q93d1bmqz19v1596d80000gn/T/ipykernel_58228/432182506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['Date'].dt.year
/var/folders/jv/h0s20_q93d1bmqz19v1596d80000gn/T/ipykernel_58228/432182506.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['Date'].dt.month
/var/folders/jv/h0s20_q93d1bmqz19v1596d80000gn/T/ipykernel_58228/432182506.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df['Date'].dt.day

       Latitude  Longitude  Depth  Magnitude  year  month  day
0         -9.18     119.06     10        4.9  2008     11    1
1         -6.55     129.64     10        4.6  2008     11    1
2         -7.01     106.63    121        3.7  2008     11    1
3         -3.30     127.85     10        3.2  2008     11    1
4         -6.41     129.54     70        4.3  2008     11    1
...         ...        ...    ...        ...   ...    ...  ...
81218     -8.02     121.81     69        3.4  2022      1   10
81219      1.50     127.85     10        3.7  2022      1   10
81220      1.50     127.86     10        3.0  2022      1   10
81221      1.48     127.86     10        2.7  2022      1   10
81222      1.44     127.86     10        3.1  2022      1   10

[81223 rows x 7 columns]

#### Selecting Variables

In [ ]:
features = ['year', 'month', 'day', 'latitude', 'longitude', 'depth']
X = df[features]